.container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;   
    font-family: 'Rubic', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

   
    .text{
        border: 0 none;
        outline: none;
        width: 7px;
        font-size: 14px;
         font-family: 'Lucida Sans'
    }
 
    .placeholder {
        background-color: rgb(53, 95, 172);
        border-radius: 4px;
        padding: 2px 4px 3px;
        display: inline;      
        color: #fff;
        font-size: 12px;
        white-space: nowrap;
        margin-left: 4px;
        margin-right: 4px;
    }
    .pseudo{
        position: absolute;
        left: -5000px;
    }
}